[Desktop Entry]
Version=0.2.0
Name=SopCast Player
GenericName=Internet Television
Comment=GUI front-end to SopCast
Exec=sopcast-player
Icon=sopcast-player
Terminal=false
Type=Application
Categories=AudioVideo;Video;TV;
